@font-face {
    font-family: 'Lore';
    font-style: normal;
    font-weight: normal;
    src: local('Alphabet Number Lore Font V3 Regular'), url('AlphabetNumberLoreFontV3Regular.woff') format('woff');
    }
h1, h3{
    font-family: 'Lore';
    color: white;
    text-shadow: 10px 0px 10px red;
}
body{
background-image: url(background.jpg);
background-size: cover;
}
.div-speed{
    float: left;
}
.div-volume{
    float: right;
}
img{
    width: 200px;
    border-radius: 200px;
    box-shadow: 10px 0px 10px rgb(255, 247, 0);
}


.button-85 {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    font-family: 'Lore';
    text-shadow: 10px 0px 10px red;
  }
  
  .button-85:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
    font-family: 'Lore';
    text-shadow: 10px 0px 10px red;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .button-85:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
    text-shadow: 10px 0px 10px red;
  }

canvas{
  border-radius: 20px;
  margin-top: -240px;
}
body {
  overflow: hidden; /* Hide scrollbars */
}